* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// google fonts 
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

// veriables
:root {
  --primary: rgb(91, 29, 0);
  --secondary: rgba(91, 29, 0, 0.83);
  --bg: rgb(243, 244, 229);
  --text-sec: rgb(141, 76, 47);
  --text-pri: rgba(117, 65, 39);
}

// bese styles

/* animation for moving bubble tea */
.image-coming {
  animation: rollAround both linear;
  animation-timeline: view(20%);
  animation-range: exit 0% cover 300vh;
  z-index: 10;
}
@keyframes rollAround {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(35deg) translateY(85vh) translateX(25vw) scale(0.8);
  }
  50% {
    transform: rotate(35deg) translateY(85vh) translateX(25vw) scale(0.8);
  }
  75% {
    transform: rotate(-45deg) translateY(150vh) translateX(-75vw) scale(1);
  }
  100% {
    transform: rotate(-45deg) translateY(150vh) translateX(-75vw) scale(1);
  }
}